.App {
  text-align: center;
 
  min-height: 120px;
}
.App-header {
  background-color: aqua;
   padding:40px 0px;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width:50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


form{
  position: relative;
}
.left{
  position: absolute;
  right:2rem;
  top:-0.8rem;
  color: red;
  cursor: pointer;
  font: 2rem sans-serif;
 text-align: left;
}
